[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bytesudoer/nixos-config]
row=3
col=1

[/home/bytesudoer/Videos]
row=3
col=0

[/home/bytesudoer/Documents]
row=9
col=0

[/home/bytesudoer/GitPulls]
row=5
col=1

[/home/bytesudoer/Music]
row=7
col=0

[/home/bytesudoer/Downloads]
row=8
col=0

[/home/bytesudoer/Templates]
row=4
col=0

[/home/bytesudoer/Public]
row=5
col=0

[/home/bytesudoer/IdeaProjects]
row=1
col=1

[/home/bytesudoer/Pictures]
row=6
col=0

[/home/bytesudoer/vmware]
row=0
col=1

[/home/bytesudoer/AllDev]
row=2
col=1

[/home/bytesudoer/Cours]
row=4
col=1

[/home/bytesudoer/go]
row=6
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/bytesudoer]
row=2
col=0

